<section class="d-flex flex-column align-items-center m-5">
    <h1>Welcome to Meal Planner!</h1>
    <p>The one stop shop for all your meal planning needs.</p>
    <a class="btn btn-primary" href="/register">Get Started Now!</a>
</section>

<h1>Landing</h1>

<p>Name: {{name}}</p>

{{!-- {{#each fruits}}
    <p>{{this.title}}</p>
{{/each}} --}}

{{#each notes}}
    <div class="note">
        <p>Title: {{this.title}}</p>
        <p>Title: {{this.text}}</p>
        <a href="/note/{{this.id}}">View Note Details</a>
    </div>
    <hr>
{{/each}}

<div>
    <ul>
        <li>JD</li>
        <li>
            This is something!
        </li>
    </ul>
</div>